@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900&subset=latin-ext');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #009688;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.main-header {
    word-spacing: 5px;
    letter-spacing: 5px;
    background: rgb(87, 171, 163);
    text-shadow: 3px 3px 3px #2b2b2b;
    width:60%;
    max-width: 600px;
    margin: 0 auto 20px;
}

.text-center {
    text-align: center;
}

.block-center {
    display: block;
    margin: 10px auto;
}

.btn {
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
}
.btn:hover,
.btn:focus {
   border-color: rgba(0,0,0,0.7);    
   background-color: rgba(0,0,0,0.7);
   color: #fff;
}
.column {
    position: relative;
/*    min-width: 220px;*/
    max-width: 320px;
    min-height: 40vh;
    border-radius: 5px;
    border: 1px solid white;
    margin: 0 auto;
}

.column-title {
    padding: 15px 30px;
    word-wrap: break-word;
    color: #222;
    margin: 0;
    border-radius: 5px 5px 0 0;
    background-color: rgba(255, 255, 255, 0.82);
}

.column-card-list {
    list-style: none;
    margin: 5px;
    padding: 0;
    display: block;
    min-height: 60px;
}

.close-pos {
    position: absolute;
    right: 0px;
    top: 0px;
}

.close-theme {
    background: inherit;
    color: black;
    font-size: 14px;
    border: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.close-theme:hover,
.close-theme:focus {
    background: #009688;
    color: whitesmoke;
    font-size: 16px;
    border-radius: 0 5px 0 0;
}
.card-description {
    padding:10px 25px 10px 5px;
    word-wrap: break-word;
    font-size: 14px;
}
.card-placeholder {
    box-sizing: border-box;
    display: block;
    min-height: 60px;
    margin-bottom: 5px;
    border: 2px solid lightgrey;
    background-color: lightblue;
}

.card {
    display: block;
    position: relative;
    min-height: 30px;
    overflow: hidden;
}
.btn-trash {
    position: absolute;right: 0;
}